{% extends 'base.html.twig' %}

{% block title %}New hero{% endblock %}

{% block body %}
    <h1>Create new hero</h1>

    {{ include('hero/_form.html.twig') }}

    <a href="{{ path('app_hero_index') }}">back to list</a>
{% endblock %}
