@import './abstracts/color.scss';

// h1 {
//     background-color: rgb(81, 255, 0);
//     border: solid 2px red;
// }
html {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  // background-color: $color5;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0;
  position: relative;
  // top: 0px;  
  bottom: 0px;
}

.headers {
  display: flex;
  justify-content: space-between;

}

.header-anime {
  transition: all 0.8s ease-in-out;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: -100vw;
  width: 100vw;
  height: 17vh;
  background: linear-gradient(-128deg, $color2 25%, rgba(0, 0, 0, 0) 25%);

  &>a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color4;
    text-decoration: none;
    color: $color3;
    width: 10%;
    height: 30%;
    margin: 0.5%;

    border-radius: 10%;
  }
}

.header {
  z-index: 299;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 17vh;
  width: 100vw;

  background: linear-gradient(-128deg, rgba(0, 0, 0, 0) 25%, $color2 25%);

  &>h1 {
    color: $color4;
    font-size: 900%;
    width: 70%;
    margin-left: 1vw;

  }
}

.mod-active {
  position: absolute;
  right: -30vw;
  top: 18vh;
  transition: all 0.75s;
}

.mod {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C09BD8;
  text-decoration: none;
  color: #EBC3DB;
  width: 100%;
  height: 40%;
  margin: 10%;
  border-radius: 10%;
}

.position-start {

  right: 0vw !important;
}

.start {
  z-index: 10;

  right: 3vw !important;
}

.img_anime_home {

  min-width: 10%;
  min-height: 10%;
}

.img_anime {
  // margin: 3%;
  // height: 10px;
  // width: 90%;
  // object-fit: cover;
  // position: relative;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;

}

.img-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;


}

.titre_anime {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 0.25em;
  background: $color2;
  color: $color5;
  width: 100%;
  text-align: center;
  font-size: medium;
}

.titre_hero {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 0.25em;
  background: $color2;
  color: $color5;
  width: 100%;
  text-align: center;
  font-size: medium;
}

.card_anime {
  overflow: hidden;
  background-color: $color2;
  border-radius: 1em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border: solid black;
  height: 45vh;
  width: 30vh;
  margin: 3%;
  box-shadow: 0 0 20px 8px #d0d0d0;

  &>li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3%;
    width: 100%;
    margin: 2%;
    list-style: none;
    font-size: 90%;
    word-break: break-word;
    // position: absolute;
  }
}

.card_hero {
  background-color: $color2;
  border-radius: 1em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 45vh;
  width: 30vh;
  margin: 3%;
  overflow: hidden;
  box-shadow: 0 0 20px 8px #d0d0d0;

  &>li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3%;
    width: 100%;
    margin: 2%;
    list-style: none;
    font-size: 90%;
    word-break: break-word;
    // position: absolute;
  }
}

.list-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.list_anime {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.hover-description {
  // display: none;
  border-radius: 1em;
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  height: 0;
  width: 100%;
  background-color: #646464;
  transition: all 0.75s 0.75s;
  left: 0;

  &>p {
    height: 80%;
    width: 98%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0);

  }
}

.puissance {
  background-color: $color2;
  color: $color5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 10vh;
  height: 10vh;

  border-radius: 50%;
  z-index: 20;
  top: 0;
  left: 00%;
  font-size: 100%;

}

.card_anime:hover .hover-description {

  height: 40% !important;

  &>p {
    color: black !important;
  }
}
.connexion{
  border-radius: 1em;
  background-color: $color3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;

}
.btn-connexion{
  width: 60%;
  height: 20%;
  background-color: $color1;
  border-radius: 3em;
  margin: 2%;
}
.conternaire-inscription{
  display: none;
  &>form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
}


.on{
display: block;

}
.off{
display: none;
}
.opening{
  display: none;
}

/* From uiverse.io by @G4b413l */


// label {
//   display: block;
//   width: 20px;
//   height: 20px;
//   cursor: pointer;
// }

// input[type='checkbox'] {
//   position: absolute;
//   transform: scale(0);
// }

// input[type='checkbox']:checked~.checkbox {
//   transform: rotate(45deg);
//   width: 14px;
//   margin-left: 5px;
//   border-color: #24c78e;
//   border-width: 5px;
//   border-top-color: transparent;
//   border-left-color: transparent;
//   border-radius: 0;
// }

// .checkbox {
//   display: block;
//   width: inherit;
//   height: inherit;
//   border: solid 3px $color5;
//   border-radius: 6px;
//   transition: all 0.375s;
// }

// .trie {
//   background-color: $color3;
//   height: 30vh;
//   width: 30vw;
//   // position: ;
//   left: 0px;
// }
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 1em;
  width: 12em;
  transition: all ease-in-out .5s;
  // margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus+.search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: $color4;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

input[type]:checked~span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

input[type]:checked~span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: 0 0 10px $color3;
}

input[type]:checked~span.middle {
  transform: translateX(-20px);
  opacity: 0;
}