@import './abstracts/color.scss';
// h1 {
//     background-color: rgb(81, 255, 0);
//     border: solid 2px red;
// }

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus+.search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

.header {
  height: 15%;
  background-color: $color3;
}

.card_anime {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid black;
  height: 45vh;
  width: 30vh;
  margin: 3%;
  

  &>li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3%;
    width: 100%;
    margin: 2%;
    list-style: none;
    font-size: 90%;
    word-break: break-word;
  }
}

.img_anime {
  margin: 3%;
  height: 70%;
  width: 90%;
}
.list_anime{
  // display: table-cell;
  // text-align: center;
  // vertical-align: middle;
//   margin: 0 0 0 -12px;
// position: relative;
display: flex ;
flex-wrap: wrap;
justify-content: space-evenly;
// grid-template-columns: 1fr 1fr 1fr 1fr;

// grid-template-rows: 30vh 45vh;
}